# ==============================================================================
# Variables de Entorno del Proyecto - Multiverso Comics
# ==============================================================================

# URL base de la API principal (Backend Spring Boot / Node.js / Express / AWS API Gateway)
VITE_API_URL=http://localhost:5000/api

# URL base del servicio de autenticación (Opcional, si está en un microservicio separado)
VITE_AUTH_API_URL=http://localhost:8080/api

# Título y metadata de la aplicación
VITE_APP_NAME="Multiverso Comics"
VITE_APP_ENV=development
